body{
    background-color: rgb(7, 7 ,98);
    color: white;
    font-family: sans-serif;
}
button{
    appearance: none;
    background-color: rgb(113, 156, 223);
    color: rgb(7, 7 ,98);
    border-color: white;
}
.logo{
width: 25px;
height: 25px;
}
